node_modules
config.env
.cache/
views/admin/
controllers/adminController.js
routes/adminRoutes.js
public/css/admin.css
public/js/admin.js
public/js/adminBundle.js
public/js/adminBundle.js.map
public/js/bundle.js.map