footer.footer 
    .footer__logo 
        img(src="img/lo.jpg", alt="ShopMe Logo")

    .footer__copyright 
        p.footer__copyright--header &copy; by Anish Manandhar 
        p This is a fictional shopping website 